body {
  font-family: "Montserrat";
}

header {
  display: flex;
}

header>* {
  display: flex;
  margin: auto;
}


header ul {
  display: flex;
  list-style: none;
  width: 352px;
  height: 28px;
  gap: 20px;
}

.logo {
  width: 200px;
  height: 32px;
}

header.buttons button {
  width: 58px;
  height: 20px;
}

.in {
  background-color: #fff;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: bold;
  padding: 13px 26px;
  border-color: #BCD0E5;
  border-width: 1px;
  border-radius: 4px;
}

.up {
  background-color: #FF9900;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 13px 26px;
  border-color: #BCD0E5;
  border-width: 1px;
  border-radius: 4px;
  margin-left: 32px;
}


nav a {
  text-decoration: none;
  color: #2F281E;
}

nav a:hover {
  color: #FF9900;
}

.hero {
  display: flex;
  margin: 151px 120px 120px 150px;
  min-width: 100%;
  width: 1200px;
}

.container-main {
  display: block;
  width: 500px;
  height: 301px;
}

h2 {
  font-size: 44px;
}

.hero p {
  font-size: 18px;
}

.hero img {
  width: 644px;
  height: 495px;
  margin-left: 100px;
}

.get {
  background-color: #FF9900;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 13px 30px;
  border-color: #BCD0E5;
  border-width: 1px;
  border-radius: 4px;
}

footer {
  display: flex;
  justify-content: center;
  gap: 130px;
  margin-top: 170px;
}

footer ul {
  list-style: none;
}

.container-phone > * {
  margin-bottom: 25px;
}
#phone {
  margin-bottom: 25px;
}

.container-phone button {
  display: block;
}

#phone {
  display: block;
  width: 212px;
  height: 20px;
  padding: 15px 118px, 15px, 10px;
  border-color: #BCD0E5;
  border-width: 1px;
  border-radius: 4px;
}

::placeholder {
  color: #BCD0E5;
  font-size: 16px;
  font-family: "Montserrat";
}

